<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PassportJS</title>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Homepage</a>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
      </li>
    </ul>
  </nav>
  <header>
    <h1>Passport JS / OAuth</h1>
    <h2>Homepage</h2>
  </header>
  <main>
    <p>Trying out Passport JS for Oauth in node</p>
  </main>
</body>
</html>
